@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Bungee&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #2C2C2C 0%, #484848 100%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  /*Comienzo nav*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59595B;
    padding: 10px;
    height: 60px;
  }
  
  .burger-menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    z-index: 100;
    background-color: #5D3FD3;
    left: 0;
    top: 0;
    padding: 2rem;
    height: 100%;
    gap: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 0.3s ease, visibility 0s 0.3s;
  }
  
  .burger-menu.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
  }

  .open-menu, .close-menu{
    display: block;
    border: 0;
    font-size: 30px;
    background: none;
    cursor: pointer;
  }

  .open-menu{
    color: #1ABC9C;
  }
  
  .close-menu{
    color: #e05555;
  }

  .menu-usuario{
    display: none;
  }

  .close-menu:hover{
    color: #ff6e6e;
  }

  .nav-list{
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style-type: none;
    gap: 1rem;
    top: 0;
  }

  .nav-list li a {
    text-decoration: none;
    color: #1ABC9C;
    font-family: 'Bungee';
    font-size: 18px;
    transition: ease .3s;
  }

  .nav-list li a:hover{
    color: #2EE6B6;
    transition: ease-in .1s;
  }


  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B7B7B;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: fit-content;
  }
  
  .search-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 5px;
    font-size: 12px;
  }

  .search-container input::placeholder{
    color:#59595B;
  }
  
  .search-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: #b0b0b0;
  }

  .search-icon{
    font-size: 20px;
    padding-right: 5px;
    color: #E1DEDE;
    transition: ease-in .1s;
  }

  .search-icon:hover{
    color: #FFFFFF;
    scale: 1.1;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #ff6e6e;
    text-align: right;
  }
  
  .logo img {
    width: 80px;
    height: 40px;
    margin-right: 5px;
  }
  
  .logo span {
    font-size: 14px;
    font-weight: bold;
    color: #ff6e6e;
  }

  /*Fin nav*/
  
  /* Estilos generales de la card */
/* Estilos generales de la card */
.game-card {
  position: relative;
  width: 230px; /* Ajusta según tu diseño */
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* Imagen del juego */
.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: filter 0.5s ease-in
}

/* Efecto de desenfoque al hacer hover en la card */
.game-card:hover .game-image {
  filter: blur(3px); /* Aplica un desenfoque */
}

/* Overlay que aparece al hacer hover */
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.game-card:hover .hover-overlay {
  opacity: 1;
}

/* Posiciona el título del juego en la parte superior */
.hover-overlay h2 {
  position: absolute;
  font-family: "Bungee";
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px;
  font-weight: lighter;
  text-align: center;
  background-color: #7c7c7db7; /* Fondo semitransparente */
  padding: 6px;
  margin: 0;
  font-size: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Botón de play */
.play-button {
  background-color: #5D3FD3; /* Color primario del botón */
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 140px;
  height: 39px;
}

.play-button span{
  position: relative;
  left: 15%;
}

.play-button i{
  font-size: 16px;
  color: #2C2C2C;
  position: absolute;
  left: 30%;
}

.play-button:hover {
  background-color: #9747FF; /* Color de hover */
}

.cart-price-section {
  position: absolute;
  bottom: 0; /* Posiciona el carrito y el precio en la parte inferior */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Icono del carrito */
.cart-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 33px;
  height: 33px;
  border-radius: 0 12px 0 12px;
  background-color: rgba(151, 71, 255, 0.77);
  font-size: 20px;
}
.cart-icon i{
  margin-right: 5px;
}
/* Precio */
.price-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(151, 71, 255, 0.77);
  color: white;
  border-radius: 12px 0 12px 0;
  font-size: 13px;
  font-family: 'Bungee';
  text-align: center;
}


/*Fin card*/


/*Carruseles*/

  .carruseles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .carousel{
    width: 100%;
    text-align: center;
    font-family: 'Bungee';
    color: #1ABC9C;
    margin: auto;
  }

  .carousel-list{
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: fit-content;
    height: 150px;
    gap: 1rem;
    margin: auto;
  }

  .carousel-track{
    position: relative;
    display: flex;
    max-width: 70vw;
    align-items: center;
    width: 100%;
    top: 0;
    gap: .5rem;
    transition: left .5s ease;
  }


  .carrusel-arrow{
    border-radius: 20px;
    background-color: #5D3FD3;
    z-index: 4;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0;
    cursor: pointer;
    
  }

  .carrusel-arrow:focus{
    outline: 0;
  }

  .carrusel-arrow svg{
    width: 9px;
    height: 100%;
    color: #FFFFFF;
  }

  .carrusel-prev{
    left: 15rem;
  }
  .carrusel-next{
    right: 15rem;
  }
/*Fin carruseles*/


/*Breakpoint Desktop*/
  @media (min-width: 1024px) {

    .search-container {
      max-width: 300px; 
    }
    .search-container input {
      font-size: 16px;
    }
    .nav-list li a {
      font-size: 25px;
    }
    .menu-usuario{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      background: #5D3FD3;
      border-radius: 0 0 10px 10px;
      position: absolute;
      z-index: 100;
      font-family: "bungee";
      color: #1ABC9C;
      top: 60px;
      right: 9rem;
      padding: 2rem;
      gap: 1rem;
      transition: opacity 0.3s ease, visibility 0s 0.3s;
    }

    .menu-usuario.visible{
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0s 0s;
    }
    .div-user{
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: absolute;
      border-radius: 20px;
      right: 9rem;
      width: 40px;
      height: 40px;
      background-color: #5D3FD3;
    }
    .open-user{
      margin: auto;
      color: #1ABC9C;
      font-size: 30px;
      transition: ease .3s;
    }
    .open-user:hover{
      color:#2EE6B6;
      transition: ease-in .2s;
    }

    .carousel{
      margin: 0px 60px;
    }

    .carousel-list{
      max-width: 80vw;
    }
  }